body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #284a81;
}

.navbar-light .navbar-nav .nav-link {
    color: red;
}

.logo-superior{
    padding: 5px;
}

.collapsible,
.collapsibleProjetos {
    /* color: black; */
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    /* outline: none; */
    font-size: 15px;
    background-color: #F4F6FC;
}

.content-expanded {
    padding: 0 5px;
    display: none;
    border: none;
    text-align: left;
    /* overflow: hidden; */
}

/* unvisited link */
a:link {
    color: #00897c;
}

/* visited link */
a:visited {
    color: #00897c;
}

/* mouse over link */
a:hover {
    color: #00f5dc;
}

/* selected link */
a:active {
    color: #00f5dc;
}

.btn-primary{
    background-color: #00897c;
}

.row{
    padding: 0%;
    margin: 0%;
}
table {
    width:100%;
}
table, th, td {
   /* border: 1px solid black;*/
    border-collapse: collapse;
}
th, t

th, td {
    padding: 15px;
    text-align: left;
}
#t01 tr:nth-child(even) {
    background-color: #d6d6d6;
}
#t01 tr:nth-child(odd) {
    background-color: #fff;
}
#t01 th {
    background-color: black;
    color: white;
}